<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SDCManagementSystem_Test3Entities" connectionString="metadata=res://*/SDCSMModel.csdl|res://*/SDCSMModel.ssdl|res://*/SDCSMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDC-SQL2012B,5095;initial catalog=SDCManagementSystem_Test3;Connection Timeout=6000;persist security info=True;user id=sdcTestUser;password=SDCNewLogin5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="targetPath" value="\\sdc-files\WH Receipts\Backup\"/>
    <add key="ObjetivePath" value="\\sdc-files\WH Receipts\"/>

  <!--  <add key="targetPath" value="C:\Users\Mayesteran\Desktop\Demo\Bck\"/>
    <add key="ObjetivePath" value="C:\Users\Mayesteran\Desktop\Demo\"/>!-->
    
    <add key="year" value="2019"/>
    <add key="PDFPath" value="C:\x\"/>

    <add key="EmailFrom" value="reports@sdcnynj.com"/>
  <!--      <add key="EmailTo" value="mayesteran@subarudistcorp.com"/>-->
<add key="EmailTo" value="mayesteran@sdcnynj.com, bleeponis@sdcnynj.com, JLee@sdcnynj.com, ASimpson@sdcnynj.com, mtom@sdcnynj.com, rfraioli@sdcnynj.com "/> 
    <add key="EmailServer" value="172.31.10.104"/>
    <add key="emailPath" value="\\sdc-sql2012b\mailroot\Pickup\" />
    
    

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportExecutionServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
     
    </client>
  </system.serviceModel>
</configuration>